/1.20.1-20250122-BeforeTomorrow-natives
/blueprints
/local
/logs
/tacz
/tacz_backup
/tlm_custom_pack
/patchouli_books
/PCL
/schematics
/xaero
/XaeroWaypoints_BACKUP*
/modernfix
/saves
.qmenu_opened.marker
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
BTLib.dll
/.vscode
/.probe
emi.json
/backups
/crash-reports
ops.json