# 游戏存档文件
saves/

# 缓存与日志类文件
*-natives/
local/
logs/
blueprints/
tacz_backup/
tlm_custom_pack/
patchouli_books/
schematics/
xaero/
XaeroWaypoints_BACKUP*/
modernfix/
.qmenu_opened.marker
patchouli_data.json
usercache.json
usernamecache.json
BTLib.dll
crash-reports/
ops.json
screenshots/
map exports/
config/yes_steve_model/cache
*.log

# KubeJS与ProbeJS
rhino.local.properties
kubejs/README.txt
kubejs/jsconfig.json
kubejs/*/jsconfig.json
kubejs/config/
# 开发用
kubejs/*/dev/

# 配置文件
PCL/
.vscode/
.probe/

# 目前排除的文件
emi.json
tacz/
config/yes_steve_model/custom
