saves/

BeforeTomorrowB1.5-natives/
blueprints/
local/
logs/
tacz/
tacz_backup/
tlm_custom_pack/
patchouli_books/
PCL/
schematics/
xaero/
XaeroWaypoints_BACKUP*/
modernfix/
.qmenu_opened.marker
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
BTLib.dll
.vscode/
.probe/
backups/
crash-reports/
ops.json
screenshots/
map exports/
kubejs/*/jsconfig.json/
kubejs/README.txt
_update_pack/

config/yes_steve_model/custom